body{
    width: 100%;
    height: 1080px;
    box-sizing: border-box;
}
img{
    width: 200px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    justify-content: center;
}
.text {
    font-family: sans-serif;
}
.end-text{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.photo-set{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.photos{
    margin: 20px 0;
}
.photo-1{
    margin: 0 10px;
    border: orangered 3px solid;
    border-radius: 3px;
}
.photo-2{
    margin: 0 10px;
    border: yellow 3px solid;
    border-radius: 3px;
}
.photo-3{
    margin: 0 10px;
    border: green 3px solid;
    border-radius: 3px;
}
.photo-4{
    margin: 0 10px;
    border: lightblue 3px solid;
    border-radius: 3px;
}
.photo-5{
    margin: 0 10px;
    border: blue 3px solid;
    border-radius: 3px;
}
.photo-6{
    margin: 0 10px;
    border: purple 3px solid;
    border-radius: 3px;
}
.photo-7{
    margin: 0 10px;
    border: blue 3px solid;
    border-radius: 3px;
}
.photo-8{
    margin: 0 10px;
    border: purple 3px solid;
    border-radius: 3px;
}
.photo-9{
    margin: 0 10px;
    border: orangered 3px solid;
    border-radius: 3px;
}
.photo-10{
    margin: 0 10px;
    border: yellow 3px solid;
    border-radius: 3px;
}
.photo-11{
    margin: 0 10px;
    border: green 3px solid;
    border-radius: 3px;
}
.photo-12{
    margin: 0 10px;
    border: lightblue 3px solid;
    border-radius: 3px;
}
.photo-13{
    margin: 0 10px;
    border: blue 3px solid;
    border-radius: 3px;
}
.photo-14{
    margin: 0 10px;
    border: purple 3px solid;
    border-radius: 3px;
}
.photo-15{
    margin: 0 10px;
    border: blue 3px solid;
    border-radius: 3px;
}

