body{
    width: 100%;
    height: 1080px;
    box-sizing: border-box;
}
img{
    width: 200px;
    margin-bottom: 310px;
}
.container{
    display: flex;
    justify-content: center;
}
.text {
    font-family: sans-serif;
}
.end-text{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;

}